/* font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
}


.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

}

.page {
    margin-left: 30px;
}

.page:first-child {
    margin-left: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0C8CE9;
}

.hero_section {
    background-color: #EFFEF1;
    min-height: 100vh;
}

.navbar-brand img {
    width: 80%;
}

.hero_content {}

.hero_content h5 {
    color: #FD511A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero_content h1 {
    color: #000;
    font-size: 48px;
    line-height: 70px;
}

.hero_content h1 span {
    color: #21B573;
}

.hero_content p {
    color: #6C6B6B;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;

}

.btn-custom {
    color: #fff;
    background-color: #21B573;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    border-radius: 50px;
}

/* <!-- feature content start --> */

.feature_content {
    background-color: #F8FFFB;
    padding: 50px 0;
}

.feature_content img {
    width: 20%;
}

.feature_content h2 {
    color: #413960;
    font-size: 24px;
    line-height: 36px;
    margin-top: 11px;
}

.feature_content p {
    color: #585859;
    font-size: 16px;
    line-height: 24px;
}

.feature_content:hover {
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* <!-- course item start --> */
.heading h1 {
    color: #413960;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

}

.course {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
 
}

.course img {}

.course h2 {
    color: #413960;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
}

.course p {
    color: #585859;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.course ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.course ul li {
    color: #585859;
    font-size: 16px;
    line-height: 24px;
}

.course ul li i {
    margin-right: 10px;
}






.btn-customs {
    background-color: #21B573;
    color: #fff;
    padding: 0;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0;
    transition: .4s ease;
}

.btn-customs:hover {
    background-color: #0d8d54;
    color: #fff;
    font-size: 17px;
}

/* <!-- course item end --> */


/* <!-- testimonial item start --> */




/* <!-- testimonial item end --> */
.client {
    width: 40%;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;

}

.client img {}


.testimonial p{
color: #000000;
font-weight: 400;
font-size: 16px;
line-height: 30px;
}

/* <!-- footer part start --> */
footer{
background-color: #282531;
padding: 80px 0;
color: #fff;
}
footer p{
font-size: 16px;
line-height: 36px;
}
footer ul{
list-style: none;
padding: 0;
}
footer ul li{
font-weight: 300;
}
footer ul li:first-child{
    font-weight: 600
}









/* <!-- footer part end --> */